<div class="profile-layout">
  <h1>Profile</h1>
  <div class="profile-sidebar">
    <div class="sidebar-block">
      <h3>Settings</h3>
    </div>
    <button class="sidebar-block" routerLink="edit">
      <span>Account</span>
      <i class="icon icon-ic_fluent_person_settings_20_regular"></i>
    </button>
    <button class="sidebar-block" routerLink="myProperties">
      <span>My Properties</span>
      <i class="icon icon-ic_fluent_home_20_regular"></i>
    </button>
    <button class="sidebar-block" routerLink="favourites">
      <span>Favourites</span>
      <i class="icon icon-ic_fluent_person_money_20_regular"></i>
    </button>
    <button class="sidebar-block" routerLink="/verifyPhoneNumber">
      <span>2FA</span>
      <i class="icon icon-ic_fluent_person_lock_20_regular"></i>
    </button>
    <button class="sidebar-block" routerLink="/resetPassword">
      <span>Reset Password</span>
      <i class="icon icon-ic_fluent_person_sync_20_regular"></i>
    </button>
  </div>
  <div class="profile-card">
    <img width="128" height="128"
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="Avatar">
    <h2>{{ account.firstName }} {{ account.lastName }}</h2>
    <h3>{{ account.accountType }} Account</h3>
    <hr>
    <a routerLink="/edit" class="button button-secondary">Edit</a>
  </div>
</div>