<div class="page-wrapper container">
    <button class="back-button button-tertiary" routerLink="../search">{{"Back to search" | translate}}</button>

    <h1 class="ad-address specific">11 Makram Ebed St.</h1>
    <p class="ad-region">Madinet Nasr, Cairo, Egypt</p>

    <div class="ad-images-container flex-container">
        <div class="image-item flex-item">
            <img src="https://s3.eu-central-1.amazonaws.com/prod.images.cooingestate.com/admin/compound_image/image/1752/DzOhlttBP7GiUei0AsQSN6QOp16nsf.jpg"
                alt="Image 01">
        </div>
        <div class="image-item flex-item">
            <img src="https://s3.eu-central-1.amazonaws.com/prod.images.cooingestate.com/admin/compound_image/image/1750/d6JBIZisZwMGDeaWHGY5P59s8LRj0S.jpg"
                alt="Image 01">
        </div>
        <div class="image-item flex-item">
            <img src="https://s3.eu-central-1.amazonaws.com/prod.images.cooingestate.com/admin/compound_image/image/1754/wYJKSpJ6v3Tekc36dlcDU6oprmnx6l.jpg"
                alt="Image 01">
        </div>
        <div class="image-item flex-item">
            <img src="https://images.unsplash.com/photo-1669317139155-912572c38362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="Image 01">
        </div>
        <div class="image-item flex-item">
            <img src="https://s3.eu-central-1.amazonaws.com/prod.images.cooingestate.com/admin/compound_image/image/1756/4v3a3ATaPMrzcl1VKlbflv2xfqdlz4.jpg"
                alt="Image 01">
        </div>
        <div class="image-item flex-item">
            <img src="https://images.unsplash.com/photo-1669317139155-912572c38362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="Image 01">
        </div>
    </div>

    <div class="two-columns">
        <div class="description-container">
            <h1 class="description-heading">{{"Property Description" | translate}}</h1>
            <article class="description-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto modi delectus, doloribus fugit
                    obcaecati
                    et, consectetur officia quia debitis quis expedita blanditiis non possimus maiores hic saepe earum
                    voluptatem dolores.
                    Est non ea porro in nemo ex necessitatibus iusto exercitationem corporis aperiam. Quibusdam, soluta
                    illum. Similique magni quaerat quisquam doloribus praesentium saepe. Quod sunt non magnam voluptate
                    ab
                    perspiciatis quam?
                    Sit, rerum aliquid modi voluptate ratione, neque quas assumenda cumque, consequatur fugit blanditiis
                    tenetur quod minus excepturi id omnis? Obcaecati necessitatibus quidem nisi numquam iure ipsa odit
                    officiis fugiat aut!</p>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto modi delectus, doloribus fugit
                    obcaecati
                    et, consectetur officia quia debitis quis expedita blanditiis non possimus maiores hic saepe earum
                    voluptatem dolores.
                    Est non ea porro in nemo ex necessitatibus iusto exercitationem corporis aperiam. Quibusdam, soluta
                    illum. Similique magni quaerat quisquam doloribus praesentium saepe. Quod sunt non magnam voluptate
                    ab
                    perspiciatis quam?
                    Sit, rerum aliquid modi voluptate ratione, neque quas assumenda cumque, consequatur fugit blanditiis
                    tenetur quod minus excepturi id omnis? Obcaecati necessitatibus quidem nisi numquam iure ipsa odit
                    officiis fugiat aut!</p>
            </article>
        </div>
        <div class="contact-container">
            <h2 class="price">$1845/Month</h2>
            <div class="address">11 Makram Ebed St.</div>
            <div class="region">Madinet Nasr, Cairo, Egypt</div>

            <div class="cta-button-group button-group">
                <button class="button button-secondary">{{"Show on map" | translate}}</button>
                <button class="button button-secondary" routerLink="/chat">{{"Contact seller" | translate}}</button>
            </div>
        </div>
    </div>

    <div class="property-attributes">
        <div class="bedrooms">
            <i class="icon icon-ic_fluent_bed_20_regular"></i>
            <span>3 Bedrooms</span>
        </div>
        <div class="bathrooms">
            <i class="icon icon-ic_fluent_showerhead_20_regular"></i>
            <span>1 bathroom</span>
        </div>
        <div class="size">
            <i class="icon icon-ic_fluent_arrow_autofit_height_dotted_20_regular"></i>
            <span>180 SqM</span>
        </div>
    </div>
</div>