.page-wrapper {
    padding-block: 48px;
}

.ad-address {
    margin-top: 24px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
}

.ad-images-container {
    position: relative;
    margin-block: 32px 64px;

    border-radius: 8px;
    overflow: hidden;

    display: flex;
    gap: 8px;
}

.image-item {
    flex: 1;
    height: 460px;
    transition: all 250ms ease-in;
    filter: grayscale(1);
}

.image-item:hover {
    flex: 4;
    filter: grayscale(0);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*#region description */
.description-body {
    margin-top: 24px;
}

/*#endregion */

/*#region contact */
.contact-container {
    border-radius: 8px;
    background: white;
    box-shadow: var(--layout-shadow);
    padding: 32px;
    height: max-content;

    display: flex;
    flex-direction: column;

    gap: 16px;
}

.region {
    color: grey;
    font-size: 14px;
    font-weight: bold;
}

.cta-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cta-button-group button {
    flex: 1 1 auto;
}

/*#endregion */

/*#region property attributes */
.property-attributes {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.property-attributes>div {
    padding: 32px 64px;
    background: white;
    box-shadow: var(--layout-shadow);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.property-attributes>div .icon {
    font-size: 28px;
}

/*#endregion */


@media (width < 767px) {
    .image-item {
        height: 400px;
    }
    
    .image-item:hover {
        flex: 6;
    }
}

@media (width > 1024px) {
    .two-columns {
        grid-template-columns: 5fr 3fr;
    }
}