.item {
    background: white;
    padding: 32px;
    box-shadow: var(--layout-shadow);
    border-radius: 4px;
    transition: translate 250ms ease-in;

    display: flex;
    align-items: center;
    gap: 32px;
}

.item:hover {
    translate: 8px;
}

.status {
    margin-left: auto;
}

.chip {
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border: 1.2px solid transparent;
    border-radius: 4px;
}

.chip-cancelled {
    --red-base: rgb(244, 72, 72);
    color: var(--light-base);
    background: var(--red-base);
}

.chip-completed {
    --green-base: rgb(108, 177, 108);
    color: var(--light-base);
    background: var(--green-base);
}

.chip-pending {
    --blue-base: var(--primary-base);
    color: var(--light-base);
    background: var(--blue-base);
}

.chip-draft {
    --grey-base: rgb(107, 107, 107);
    color: var(--light-base);
    background: var(--grey-base);
}

@media (width < 625px) {
    .item {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .status {
        margin-left: unset;
    }
}