<div class="page-wrapper container">
    <h1>Update property</h1>

    <!-- <form class="form" (submit)="onSubmit($event)"> -->
    <form class="form">
        <div class="form-group">
            <div class="form-field">
                <label for="state">Property State</label>
                <input type="text" placeholder="Rent">
            </div>

            <div class="form-field">
                <label for="address">Property Address</label>
                <input type="text" placeholder="11 Makram Ebed St. Madinet Nasr, Cairo, Egypt">
            </div>

            <div class="form-field">
                <label for="description">Property Description</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="This property has..."></textarea>
            </div>

            <div class="form-splitter split-4">
                <div class="form-field">
                    <label for="rooms">Rooms</label>
                    <input type="text" placeholder="4">
                </div>
                <div class="form-field">
                    <label for="bathrooms">Bathrooms</label>
                    <input type="text" placeholder="2">
                </div>
                <div class="form-field">
                    <label for="size">Size</label>
                    <input type="text" placeholder="180 SqM">
                </div>
                <div class="form-field">
                    <label for="price">Price</label>
                    <input type="text" placeholder="1200 L.E.">
                </div>
            </div>

            <div class="form-field">
                <label for="furnishing">Furnishing</label>
                <input type="text" placeholder="Fully furnished">
            </div>

            <button type="submit" class="button button-primary">Save Changes</button>

        </div>

    </form>
</div>