<div class="page-wrapper container">
    <h1>{{"Update property" | translate}}</h1>

    <!-- <form class="form" (submit)="onSubmit($event)"> -->
    <form class="form">
        <div class="form-group">
            <div class="form-field">
                <label for="state">{{"Property State" | translate}}</label>
                <input type="text" placeholder="Rent">
            </div>

            <div class="form-field">
                <label for="address">{{"Property Address" | translate}}</label>
                <input type="text" placeholder="11 Makram Ebed St. Madinet Nasr, Cairo, Egypt">
            </div>

            <div class="form-field">
                <label for="description">{{"Property Description" | translate}}</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="This property has..."></textarea>
            </div>

            <div class="form-splitter split-4">
                <div class="form-field">
                    <label for="rooms">{{"Rooms" | translate}}</label>
                    <input type="text" placeholder="4">
                </div>
                <div class="form-field">
                    <label for="bathrooms">{{"Bathrooms" | translate}}</label>
                    <input type="text" placeholder="2">
                </div>
                <div class="form-field">
                    <label for="size">{{"Size" | translate}}</label>
                    <input type="text" placeholder="180 SqM">
                </div>
                <div class="form-field">
                    <label for="price">{{"Price" | translate}}</label>
                    <input type="text" placeholder="1200 L.E.">
                </div>
            </div>

            <div class="form-field">
                <label for="furnishing">{{"Furnishing" | translate}}</label>
                <input type="text" placeholder="Fully furnished">
            </div>

            <button type="submit" class="button button-primary">{{"Save Changes" | translate}}</button>

        </div>

    </form>
</div>