<div class="cards-container">
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1668648870664-024513418e2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"Heliopolis" | translate}}</h3>
        </div>
    </a>
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1612803751314-31d482e4d4e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"Maadi" | translate}}</h3>
        </div>
    </a>
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1668648870664-024513418e2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"Mayo" | translate}}</h3>
        </div>
    </a>
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1612803751314-31d482e4d4e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"Faisal" | translate}}</h3>
        </div>
    </a>
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1668648870664-024513418e2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"October" | translate}}</h3>
        </div>
    </a>
    <a routerLink="properties" class="card-item">
        <img class="card-image" src="https://images.unsplash.com/photo-1668648870664-024513418e2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&q=80" alt="">
        <div class="card-body">
            <h3>{{"More" | translate}}</h3>
        </div>
    </a>
</div>
