<div class="container page-wrapper">
    <h1>Dashboard</h1>

    <div class="features-container grid-container">
        <div class="grid-item users" routerLink="users">
            <h2>Users</h2>
            <div>
                <h1>13</h1>
                <span>&nbsp; Active users</span>
            </div>
        </div>
        <div class="grid-item favourites">
            <h2>Transactions</h2>
            <div>
                <h1>13</h1>
                <span>&nbsp; Transactions</span>
            </div>
        </div>
        <div class="grid-item requests" routerLink="requests">
            <h2>Requests</h2>
            <div>
                <h1>13</h1>
                <span>&nbsp; Incoming requests</span>
            </div>
        </div>
    </div>
</div>