/* styles.css */
.dark-mode {
    color-scheme: dark;

    background-color: #2d3436;
    color: var(--light-base);
}

.dark-mode *[background="white"] {
    color-scheme: dark;

    background-color: #2d3436;
    color: var(--light-base);
}

.dark-mode .navbar {
    color-scheme: dark;

    background-color: #2d3436;
    color: var(--light-base);
}

/* body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}

.dark-mode .navbar {
    background-color: #222;
    color: #fff;
}

.dark-mode .navbar .navbar-links {
    background-color: #dfe6e9;
    color: #fff;
}

.dark-mode .home-filter {
    background-color: #222;
    color: #fff;
} */

/* 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.dark-mode .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d3436;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-mode .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #dfe6e9;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
 */

/* 
.dark-mode .button-icon {
    background-color:#222;
    color: #dfe6e9;
}

 .dark-mode .button {
    background-color: #222;
    color: #dfe6e9;
} 

#darkMode {
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius:4px;
    cursor: pointer;
}


.dark-mode #darkMode {
    padding: 8px 16px;
    background-color: #222;
    color: #ccc;
    border: none;
    border-radius:4px;
    cursor: pointer;
} */