<div class="page-wrapper container">

    <h1>Users</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Smith</td>
                <td>john.smith@example.com</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Doe</td>
                <td>jane.doe@example.com</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bob Johnson</td>
                <td>bob.johnson@example.com</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="button button-tertiary" routerLink="../">Go back</button>

</div>