<div class="navbar-wrapper">
  <nav class="navbar container" [class.rtl]="currentLang === 'ar'">
    <div class="navbar-brand navbar-left">
      <a routerLink="">
        <img *ngIf="currentLang == 'en'" src="/assets/images/bayty.svg" alt="">
        <img *ngIf="currentLang == 'ar'" src="/assets/images/bayty-ar.svg" alt="">
      </a>
    </div>
    <div class="navbar-right" *ngIf="getIsLoggedIn(); else signedOutBlock">
      <button class="button button-icon" (click)="switchLanguage()">
        <img *ngIf="currentLang == 'en'" width="24" height="24" src="../../../../assets/icons/eg.svg" alt="arabic">
        <img *ngIf="currentLang == 'ar'" width="24" height="24" src="../../../../assets/icons/us.svg" alt="english">
      </button>
      <div class="navbar-links">
        
        <button class="button button-tertiary" routerLink="advertisement/create">{{ "Post" | translate }}</button>
        <a class="button button-tertiary" routerLink="advertisement/search">{{ "Properties" | translate }}</a>

        <a class="button-icon notification-button" routerLink="notifications">
          <i class="icon icon-ic_fluent_alert_20_regular"></i>
        </a>
        <a class="button-icon mail-button" routerLink="chat">
          <i class="icon icon-ic_fluent_chat_20_regular"></i>
        </a>
        <a class="button-icon payment-button" routerLink="payment">
          <i class="icon icon-ic_fluent_wallet_20_regular"></i>
        </a>
        <a class="button-icon user-button" routerLink="profile">
          <i class="icon icon-ic_fluent_person_20_regular"></i>
        </a>

        <button class="button-icon menu-button navbar-toggler" (click)="toggleNavbarCollapse()">
          <i class="fa-sharp fa-solid fa-bars"></i>
        </button>

      </div>
      <div class="navbar-cta">
        <button class="button button-secondary" (click)="signOut()">{{"Sign out" | translate}}</button>
      </div>
    </div>
    <ng-template #signedOutBlock>
      <div class="navbar-right">
        <div class="navbar-links">
          <button class="button-icon menu-button navbar-toggler" (click)="toggleNavbarCollapse()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em"
              viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
          </button>
        </div>
        <div class="navbar-cta">

          <button class="button button-tertiary" routerLink="advertisement/create">{{ "Post" | translate }}</button>

          <button class="button button-tertiary" routerLink="chat">{{ "Chat" | translate }}</button>

          <a class="button button-tertiary" routerLink="advertisement/search">{{ "Properties" | translate }}</a>

          <a class="button button-tertiary" routerLink="be-aware-of">{{ "Privacy & Policy" | translate }}</a>

          <span></span>

          <button class="button button-icon" (click)="switchLanguage()">
            <img *ngIf="currentLang == 'en'" width="24" height="24" src="../../../../assets/icons/eg.svg" alt="arabic">
            <img *ngIf="currentLang == 'ar'" width="24" height="24" src="../../../../assets/icons/us.svg" alt="english">
          </button>

          <span></span>

          <button id="darkMode" class="dark-theme" (click)="toggleDarkMode()">Dark</button>

          <button class="button button-tertiary" routerLink="login">
            {{ "Login" | translate }}
          </button>

          <button class="button button-primary" routerLink="register">
            {{ "Get Started" | translate }}
          </button>

        </div>

      </div>
    </ng-template>
  </nav>

  <div class="navbar-collapse" *ngIf="isNavbarCollapseToggled">
    <a class="button-icon notification-button" (click)="toggleNavbarCollapse()">
      <i class="icon icon-ic_fluent_alert_20_regular"></i>
    </a>
    <a class="button-icon mail-button" (click)="toggleNavbarCollapse()">
      <i class="icon icon-ic_fluent_chat_20_regular"></i>
    </a>
    <a class="button-icon payment-button" (click)="toggleNavbarCollapse()">
      <i class="icon icon-ic_fluent_wallet_20_regular"></i>
    </a>
    <a class="button-icon user-button" routerLink="profile">
      <i class="icon icon-ic_fluent_person_20_regular"></i>
    </a>
  </div>
</div>