.navbar-wrapper {
  background: white;
  box-shadow: var(--layout-shadow);
}

.navbar {
  height: var(--navbar-height);

  display: flex;
  align-items: center;
}

.navbar.rtl {
  direction: rtl;
}

.navbar-left {
  flex-grow: 2;
}

.navbar-brand img {
  height: 32px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-right .navbar-links {
  display: flex;
}

.navbar-cta,
.navbar .navbar-links>*:not(:last-child) {
  display: none;
}

.navbar-right .navbar-links,
.navbar-cta {
  gap: 8px;
}

.navbar-cta span {
  display: block;
  background: rgb(199, 199, 199);
  width: 1.5px;
  height: 40px;
  display: grid;
  place-self: center;
}

.button-icon i {
  font-size: 26px;
  color: var(--primary-base);
}

.navbar-collapse {
  padding-bottom: 16px;
  display: block;
}

@media (width > 1024px) {
  .navbar-toggler,
  .navbar-collapse {
    display: none;
  }

  .navbar-cta,
  .navbar .navbar-links>*:not(:last-child) {
    display: flex;
  }

  .navbar-collapse {
    padding-bottom: 16px;
    display: none;
  }
}

