.home-filter {
    --filter-height: 240px;
    background: white;

    width: min(920px, 100%);
    height: min(var(--filter-height), 100%);

    box-shadow: var(--layout-shadow);
    border-radius: 6px;
    overflow: hidden;

    display: block;
    margin: 0 auto;
    translate: 0 calc(var(--filter-height) / -2);
}

.control-group button {
    padding: 16px 32px;
    border-radius: 0;
}

.control-group button:focus {
    background: var(--primary-base);
    color: white;
}

/* Filter form fields */

.home-filter .c-form-group {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.c-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.c-form-row .c-form-field {
    flex: 1 0 200px;
}

.home-filter .c-form-field :is(input, select) {
    width: 100%;
    background: var(--light-base);
    /* background: white; */
    /* border: 1px solid black; */
}

.home-filter .c-form-field:has([type="submit"]) {
    display: flex;
    justify-content: center;
}

@media (width < 525px) {
    .home-filter .c-form-field:has([type="submit"]) button {
        width: 100%;
    }
}

.home-filter .c-form-field>* {
    margin-top: 0;
}

/* Custom Dropdown */
.c-select {
    position: relative;
}

.c-select select {
    visibility: none;
    appearance: none;
}

.placeholder {
    color: grey;
}

.select-icon {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    pointer-events: none;
}

.c-select i {
    font-size: 24px;
    
    height: 100%;
    display: grid;
    place-content: center;
}

.c-select option {
    background: red;
    padding-block: 16px;
    display: none;
}