<div class="home-filter">
    <div class="control-group">
        <button autofocus class="filter-control">Buy</button>
        <button class="filter-control">Rent</button>
    </div>

    <div class="c-form-group">
        <div class="c-form-row">
            <div class="c-form-field">
                <input type="text" placeholder="Location">
            </div>              

            <div class="c-form-field c-select">
                <select placeholder="Property Type">
                    <option value="" selected>Property Type</option>
                    <option value="">Villa</option>
                    <option value="">Apartment</option>
                </select>
                <div class="select-icon">
                    <i class="icon icon-ic_fluent_chevron_down_20_regular"></i>
                </div>
            </div>

            <div class="c-form-field">
                <input type="text" placeholder="Space">
            </div>
        </div>
        
        <div class="c-form-row">
            <div class="c-form-field">
                <input type="text" placeholder="Min Price">
            </div>
            <div class="c-form-field">
                <input type="text" placeholder="Max Price">
            </div>
        </div>
        <div class="c-form-field">
            <button routerLink="advertisement/search" class="button button-primary" type="submit">
                <span>Search</span>
            </button>
        </div>
    </div>
</div>