.home-filter {
    --filter-height: 240px;
    background: white;

    width: min(920px, 100%);
    height: min(var(--filter-height), 100%);

    box-shadow: var(--layout-shadow);
    border-radius: 6px;
    overflow: hidden;

    display: block;
    margin: 0 auto;
    translate: 0 calc(var(--filter-height) / -2);
}

.control-group button {
    padding: 16px 32px;
    border-radius: 0;
}

.control-group button:focus {
    background: var(--primary-base);
    color: white;
}

/* Filter form fields */

.home-filter .c-form-group {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.c-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.c-form-row .c-form-field {
    flex: 1 0 200px;
}

.home-filter .c-form-field :is(input, select) {
    width: 100%;
    background: var(--light-base);
    /* background: white; */
    /* border: 1px solid black; */
}

.home-filter .c-form-field:has([type="submit"]) {
    display: flex;
    justify-content: center;
}

@media (width < 525px) {
    .home-filter .c-form-field:has([type="submit"]) button {
        width: 100%;
    }
}

.home-filter .c-form-field>* {
    margin-top: 0;
}

/* Custom Dropdown */
.c-select {
    position: relative;
}

.c-select select {
    visibility: none;
    appearance: none;
}

.placeholder {
    color: grey;
}

.select-icon {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    pointer-events: none;
}

.c-select i {
    font-size: 24px;

    height: 100%;
    display: grid;
    place-content: center;
}

.c-select option {
    background: red;
    padding-block: 16px;
    display: none;
}

/*#region Buy/Rent toggler */
span.state, .toggle-container {
    margin-left: 32px;
}

span.state {
    display: block;
    margin-top: 32px;
}

.toggle-container {
    margin-top: 8px;
    position: relative;
    width: 54px;
    height: 28px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 28px;
    background: var(--primary-hover);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.toggle-checkbox:checked+.toggle-label {
    background: var(--rent-base);
}

.toggle-label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.toggle-checkbox:checked+.toggle-label::before {
    transform: translateX(26px);
}

/*#endregion */