<div class="form-layout">

  <form [formGroup]="editProfileForm">
    <!-- <form> -->
    <h1>Edit profile</h1>

    <div class="form-group">

      <div class="image-center">
        <div class="image-container">
          <img
            [src]="editProfileForm.value.profileImage === {} ? editProfileForm.value.profileImage : 'assets/images/clumsy.jpg'"
            alt="">
          <label for="profile-image">
            <i class="icon icon-ic_fluent_camera_add_20_regular"></i>
          </label>
          <input type="file" (change)="onImgSelected($event)" id="profile-image">
        </div>
      </div>

      <div class="form-splitter">
        <div class="form-field">
          <label for="firstName">First Name</label>
          <input [class]="firstName?.errors ? 'error' : ''" id="firstName" type="text" formControlName="firstName"
            minlength="3" maxlength="33" placeholder="John">
          <span class="error-message" *ngIf="firstName?.errors?.['required'] && firstName?.touched">Please fill this
            field</span>
          <span class="error-message" *ngIf="firstName?.errors?.['minlength']">Must be at least 3
            characters long.</span>
          <span class="error-message" *ngIf="firstName?.errors?.['maxlength']">Must be at most 32
            characters long.</span>
        </div>

        <div class="form-field">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" formControlName="lastName" minlength="3" maxlength="33" placeholder=" Doe">

          <span class="error-message" *ngIf="lastName?.errors?.['required'] && lastName?.touched">Please fill this
            field</span>
          <span class="error-message" *ngIf="lastName?.errors?.['minlength']">Must be at least 3
            characters long.</span>
          <span class="error-message" *ngIf="lastName?.errors?.['maxlength']">Must be at most 32
            characters long.</span>
        </div>
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input id="email" formControlName="email" placeholder=" john.doe123@mail.com">
        <span class="error-message" *ngIf="email?.errors?.['required'] && email?.touched">Please fill this
          field</span>
        <span class="error-message" *ngIf="email?.errors?.['email']">Please enter a valid e-mail address.</span>
      </div>

      <div class="form-field">
        <label for="Password">Password</label>
        <input id="Password" type="password" formControlName="password" minlength="8" maxlength="33"
          placeholder="Choose a strong one">
        <span class="error-message" *ngIf="password?.errors?.['required'] && password?.touched">Please fill this
          field</span>
        <span class="error-message" *ngIf="password?.errors?.['minlength']">Must be at least 8
          characters long.</span>
        <span class="error-message" *ngIf="password?.errors?.['maxlength']">Must be at most 32
          characters long.</span>
      </div>

      <div class="form-splitter">
        <div class="form-field">
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" type="text" formControlName="phoneNumber" maxlength="11" placeholder=" 0106 000 3232">
          <span class="error-message" *ngIf="phoneNumber?.errors?.['required'] && phoneNumber?.touched">Please fill this
            field</span>
          <span class="error-message"
            *ngIf="phoneNumber?.errors?.['minlength'] || phoneNumber?.errors?.['maxlength']">Please enter a valid phone
            number</span>
        </div>

        <div class="form-field">
          <label for="age">Location</label>
          <input id="location" type="text" formControlName="address" placeholder=" 5th Settlement">
        </div>
      </div>

    </div>
    <div class="form-field">
      <button routerLink="/verifyEmail" type="submit" (click)="printUser($event)"
        [disabled]="editProfileForm.invalid">Save changes</button>
    </div>
    
    <div class="form-field">
      <button class="button button-tertiary" routerLink="../">Go back</button>
    </div>


  </form>
</div>