<div class="page-wrapper container">

    <h1>Requests</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Domain</th>
                <th>Tax Number Record</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>NewHomes</td>
                <td>john.smith@example.com</td>
                <td>124-0552-023</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
                <td>
                    <button class="button button-primary button-danger">Decline</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lilies</td>
                <td>jane.doe@example.com</td>
                <td>124-0552-023</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
                <td>
                    <button class="button button-primary button-danger">Decline</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Houzez</td>
                <td>bob.johnson@example.com</td>
                <td>124-0552-023</td>
                <td>
                    <button class="button button-primary">Approve</button>
                </td>
                <td>
                    <button class="button button-primary button-danger">Decline</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="button button-tertiary" routerLink="../">Go back</button>

</div>