.footer-wrapper {
    margin-top: 64px;
    padding-block: 64px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    background: var(--dark-base);
    color: var(--light-base);
}

.footer-logo {
    width: 108px;
}

svg {
    height: 24px;
}

svg path:last-child {
    fill: var(--light-base);
}

.left-wrapper, .right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px 16px;
}

.right-wrapper > * {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 24px;
}

@media (width < 767px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
    }
}