.page-wrapper {
    padding-block: 32px;
}

.form-field input {
    background: white;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.button-group .button {
    flex: 1 1 auto;
}