<div class="page-wrapper container">
    <h1>Terms & Policy</h1>
    <details class="card">
        <summary>
            <h3>Required Documents, Terms, and Conditions for Buying an Apartment:</h3>
        </summary>
        <article>
            <div class="policy-slot">
                <strong>First: Required Documents</strong>
                <ul>
                    <li>Title deed</li>
                    <li>Preliminary sales contract between the parties</li>
                    <li>Real estate tax certificate if the property is old</li>
                    <li>Building permit if the property is new, and there are procedures to be followed through the Real
                        Estate
                        Authority, such as issuing a determination statement or a change form, and paying the fees, etc.
                    </li>
                </ul>
            </div>

            <div class="policy-slot">
                <strong>Second: Terms and Conditions</strong>
                <ul>
                    <li>Full name of the buyer and seller - ID number (preferably each party obtains a copy of the
                        other's ID) -
                        Full residential address</li>
                    <li>Detailed description of the property being sold (whether it's an apartment, vacant land, shop,
                        or complete
                        property), with precise area measurement (the contract will be rejected by the Real Estate
                        Authority in case
                        of any shortage or excess in the area written in the contract, exceeding 10%)</li>
                    <li>Full details of the sale, according to the property number in the neighborhood, street name, and
                        region,
                        as well as the address of the property and the province, then a statement about the plot of
                        land, including
                        the plot number, square, and basin, based on the spatial data.</li>
                    <li>Clear statement of the price and the payment method.</li>
                    <li>Explanation of how the seller owns the property or the apartment being sold, including all
                        consecutive
                        contracts for the property (in case of heirs, mention the number and date of declaring
                        inheritance to reach
                        the number of the registered contract and the court that issued it). In addition, the buyer must
                        receive all
                        previous ownership contracts from the seller (in case of purchasing an apartment or a shop from
                        the owner of
                        a building or tower and due to the difficulty of delivering those documents, as the owner sells
                        to others,
                        copies of all sales contracts for the land of the property must be obtained from the owner, and
                        the owner
                        must sign each page of the copies indicating that they are true copies of the contract).</li>
                    <li>Mention the building permit number and date in case of selling apartments and shops.</li>
                    <li>There must be an explicit clause that the owner guarantees hidden defects fully, and
                        acknowledges
                        responsibility in case of any hidden defect in the property, whether it is material or legal.
                        This is in
                        addition to the other usual clauses of guaranteeing the absence of any financial obligations on
                        the property
                        to the state, such as taxes, water, or electricity, prior to the date of the sales contract.
                    </li>
                </ul>
            </div>
        </article>
    </details>
</div>