<div class="container search-ads">
    <h1>{{"Search Results" | translate}}</h1>

    <div class="grid-layout">
        <div class="grid-slot filters">
            <h3>{{"Filters" | translate}}</h3>
            
            <input type="text" placeholder="Enter size">
            
            <select name="" id="">
                <option value="1">hello</option>
                <option value="1">hello</option>
                <option value="1">hello</option>
            </select>
            
        </div>
        
        <div class="grid-slot results">
            <div class="grid-item">
                <div class="grid-hero">
                    <img src="https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </div>
                <div class="grid-body">
                    <div class="body-content">
                        <div class="option rent">{{"Rent" | translate}}</div>
                        <div class="type">{{'Chalet' | uppercase}}</div>
                        <h2 class="price">EGP 14,000</h2>
                        <div class="location">
                            Nasr City, Cairo - 2 days ago
                        </div>
                    </div>
                    <button class="button-icon body-cta">
                        <i class="icon icon-ic_fluent_arrow_right_20_regular"></i>
                    </button>
                </div>
            </div>

            <div class="grid-item">
                <div class="grid-hero">
                    <img src="https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </div>
                <div class="grid-body">
                    <div class="body-content">
                        <div class="option sale">{{"Sale" | translate}}</div>
                        <div class="type">{{'Chalet' | uppercase}}</div>
                        <h2 class="price">EGP 14,000</h2>
                        <div class="location">
                            Nasr City, Cairo - 2 days ago
                        </div>
                    </div>
                    <button class="button-icon body-cta">
                        <i class="icon icon-ic_fluent_arrow_right_20_regular"></i>
                    </button>
                </div>
            </div>

            <div class="grid-item">
                <div class="grid-hero">
                    <img src="https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </div>
                <div class="grid-body">
                    <div class="body-content">
                        <div class="option rent">{{"Rent" | translate}}</div>
                        <div class="type">{{'Chalet' | uppercase}}</div>
                        <h2 class="price">EGP 14,000</h2>
                        <div class="location">
                            Nasr City, Cairo - 2 days ago
                        </div>
                    </div>
                    <button class="button-icon body-cta">
                        <i class="icon icon-ic_fluent_arrow_right_20_regular"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>